@import url(http://fonts.googleapis.com/css?family=Comfortaa);

*
  -webkit-box-sizing border-box
     -moz-box-sizing border-box
          box-sizing border-box

body
  margin 0
  padding 0
  font-family helvetica, sans-serif
  font-size 18px
  
.coins
  margin 0 3px
  color #f90
  
header
  overflow auto
  font-family "Comfortaa"
  text-align center
  background #5ED7FF
  
  h1
    margin .4em 0 .2em
    letter-spacing -1px
    
  h2
    margin .5rem
    font-size 1.1rem
    
.content
  
  .todo
    margin 1em 0
    padding .5em 1em
    background #89FFC5
    
  .invalid
    background #EADDDD
    color #AE9292
    
    .coins
      color #E43232
      
.add
  text-align center
  
  button
    border none
    background #E7E7E7
    font-size 1.2em
    
    .coins
      font-size .9em
 
footer
  background #111
  text-align center
  position fixed
  bottom 0
  width 100%
  color #ccc
  font-size 1.4em
  padding .4em 0 .2em
   
  button
    font-size 1em
    border-radius .3em
    margin 0 0 0 .5em
    border none
    background #E7E7E7
    text-decoration none